* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: '微软雅黑';
    min-width: 1190px;
    line-height:1;
}
a,a:link,a:visited{
    color:#333;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
input{
    border:none;
    border-radius: 0;
    outline: none;
}
img {
    display: block;
}
.ellipsis1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
}

.cursor{cursor: pointer;}
.b{font-weight: bold;}

.flex{
    display:flex;
    align-items: center;
}
.flex-top{
    display:flex;
    align-items: flex-start;
}
.flex-sp{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.flex-sp-top{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
.flex-center{
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex1{
    flex:1;
}
.flex-wrap{
    flex-wrap: wrap;
}
/* 按钮hover加深效果 */
.hover-deepen{
    position: relative;
}
.hover-deepen:hover:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 5%);
}
/* dom置灰 */
.grey{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}
/* input的 placeholder*/
input::-webkit-input-placeholder {
    color: rgba(153, 153, 153, .6);
}
input::-moz-input-placeholder {
    color: rgba(153, 153, 153, .6);
}
input::-ms-input-placeholder {
    color: rgba(153, 153, 153, .6);
}

.bdshare-slide-button-box{
    display:none!important;
}
/* 清除input[type=number]加减键 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}

/* element分页器 */
.el-pagination{
    font-weight:normal;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
    min-width:32px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #D9D9D9;
}
.el-pager li{
    height: 32px;
    line-height: 32px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #467BCF;
    color: #FFF;
    border: 1px solid #467BCF;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover{
    color:#467BCF;
}
.el-pagination.is-background .el-pager li:not(.disabled).active:hover{
    color:#fff;
}
.el-pagination button, .el-pagination span:not([class*=suffix]){
    height: 32px;
    line-height: 32px;
}
.el-pagination__editor.el-input .el-input__inner{
    height:32px;
}